<nav style="padding: 0 20px">
  <h2 class="title">Prueba Tecnica Angular-HARUK</h2>
  <section class="grid">
    <a [routerLink]="['/basic']">Basico</a>
    <a [routerLink]="['/intermediate']">Intermedio</a>
  </section>
</nav>
<section style="max-width: 800px;margin: auto">
  <router-outlet></router-outlet>
</section>
