<h3 class="title">Prueba Básica</h3>
<p>
  El objetivo de esta prueba es usar una API publica para obtener información y mostrarla en una tabla.
</p>
<p>
  La siguiente tabla debe mostrar la lista de departamentos y ciudades despues de invocar el API publica:
  <a target="_blank" href="https://www.datos.gov.co/resource/xdk5-pm3f.json">https://www.datos.gov.co/resource/xdk5-pm3f.json</a>
</p>
<p>
  Si lo desea, podrá encontrar la documentación del API en el siguiente link:
  <a target="_blank" href="https://dev.socrata.com/foundry/www.datos.gov.co/xdk5-pm3f">https://dev.socrata.com/foundry/www.datos.gov.co/xdk5-pm3f</a>
</p>
<p>
  Utilice la clase <b>BasicService</b> para invocar el API y retornar los resultados al componente que va a mostrar la
  información en la siguiente tabla:
</p>
<table class="table table-hover table-mc-light-blue">
  <caption>Departamentos y Ciudades</caption>
  <thead>
  <tr>
    <th>Cod. Departamento</th>
    <th>Nombre Departamento</th>
    <th>Cod Municipio</th>
    <th>Nombre Municipio</th>
  </tr>
  </thead>
  <tbody>
  <!-- TODO: Reemplazar para colocar datos recibidos del API -->
  <tr>
    <td>76</td>
    <td>VALLE</td>
    <td>76001</td>
    <td>CALI</td>
  </tr>
  </tbody>
</table>
