/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic&display=swap');
@import "assets/css/material-deisgn-table";
@import "assets/css/button";

* {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-transform: uppercase;
  color: darkslategray;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 0.5rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

.padding-2 {
  padding: 2rem;
}

label {
  width: 80px;
  display: inline-block;
}

table caption {
  @extend .title;
}
